@import url('/css/reset.css');
@import url('/css/global.css');
@import url('/css/root.css');
@import url('/css/components/button.css');

/* page igp */
/* igp-head */
.igp-head {
  background-image: url(/img/bgigp1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.igp-head article {
  margin-top: var(--size-nine);
  margin-bottom: var(--size-seventeen);
}

.igp-head img {
  width: var(--size-twentynine);
  padding-bottom: var(--size-fourteen);
}

.igp-head h1 {
  color: var(--cor-clear);
  font-family: var(--font-primary);
  font-weight: 900;
  font-size: var(--rem-sixteen);
}

.igp-head p {
  color: var(--cor-clear);
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: var(--rem-fiveteen);
}

.igp-head button {
  transition: all 600ms;
  margin-top: var(--size-fourteen);
}

/* igp-contact */
.igp-contact {
  background-color: var(--cor-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--size-nine);
}

.igp-contact article {
  transition: all 600ms;
  filter: grayscale(100%);
}

.igp-contact article:hover {
  filter: grayscale(10%);
}

/* igp-talk */
.igp-talk {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.igp-talk h2 {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: var(--rem-fiveteen);
  margin-top: 40px;
  margin-bottom: 40px;
}

.igp-talk picture img {
  width: var(--size-twentysix);
  padding: 0px 20px 20px 0px;
  cursor: pointer;
}

.igp-talk picture img:hover {
  zoom: 1.2;
}

/* igp-service */
.igp-service {
  background-image: url(/img/bgigp1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.igp-service img {
  width: var(--size-twentyeight);
  margin-top: var(--size-ten);
}

.igp-service h2 {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: var(--rem-fiveteen);
  color: var(--cor-clear);
}

.igp-service__plan {
  background-color: var(--cor-secondary);
  margin-top: var(--size-nine);
  margin-bottom: var(--size-nine);
  padding: var(--size-seven);
  color: var(--cor-dark);
  transition: 0.3s ease;
  cursor: pointer;
}

.igp-service__plan:hover {
  border-left: 5px solid var(--cor-clear);
  color: var(--cor-clear);
}

.igp-service__plan h3 {
  font-family: var(--font-primary);
  font-weight: 900;
  padding-bottom: var(--size-seven);
}

.igp-service__plan p {
  transition: 0.3s ease;
  font-family: var(--font-primary);
}

.igp-service__plan p:hover {
  font-weight: 500;
}

.igp-service__qrcode {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: none;
  font-size: var(--rem-six);
  font-weight: 500;
}

.igp-service__qrcode:hover {
  border-left: 5px solid var(--cor-clear);
  color: var(--cor-clear);
}

.igp-service__qrcode img {
  width: var(--size-twenty);
  margin-bottom: var(--size-ten);
}

.igp-service__qrcode p {
  font-weight: bold;
}

.igp-service__size {
  font-weight: bold;
  font-size: var(--rem-eight);
}

/* igp-who */
.igp-who {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: var(--size-twentysix);
  margin-right: var(--size-twentysix);
}

.igp-who header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: var(--size-ten);
}

.igp-who div {
  margin-top: var(--size-ten);
  margin-bottom: var(--size-ten);
}

.igp-who div h3 {
  font-family: var(--font-primary);
  font-weight: 900;
  font-size: var(--rem-fourteen);
  padding-top: var(--size-nine);
  padding-bottom: var(--size-nine);
}

.igp-who div p {
  font-family: var(--font-primary);
  padding-top: var(--size-six);
  padding-bottom: var(--size-six);
}

/* igp-client */
.igp-client {
  background-image: url(/img/bgigp1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--cor-clear);
  text-align: center;
}

.igp-client__header i {
  font-size: var(--rem-fiveteen);
  margin-top: var(--size-ten);
  margin-bottom: var(--size-nine);
}

.igp-client__header h2 {
  font-family: var(--font-primary);
  font-weight: 900;
  font-size: var(--rem-fiveteen);
  margin-bottom: var(--size-nine);
}

.igp-client div {
  padding-bottom: var(--size-ten);
  display: flex;
  align-items: center;
  justify-content: center;
}

.igp-client div a {
  filter: grayscale(100%);
}

.igp-client div a:hover {
  zoom: 1.1;
  filter: grayscale(10%);
}

/* arrow top */
.igp-link__top {
  position: fixed;
  right: var(--rem-fiveteen);
  bottom: var(--rem-fiveteen);
  width: var(--rem-fiveteen);
  height: var(--rem-fiveteen);
  font-size: var(--rem-twelve);
  background-color: var(--cor-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--cor-dark);
  border-radius: var(--size-six);
  box-shadow: 0 0.1rem 0.6rem #00000009;
}

/* igp-footer */
.igp-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--size-nine);
  font-family: var(--font-primary);
  font-size: var(--rem-three);
}

/* responsive */
@media (max-width: 1024px) {
  .igp-head article {
    margin-left: var(--size-ten);
  }
  .igp-who img {
    display: none;
  }
  .igp-client div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .igp-service h2 {
    font-size: var(--rem-fourteen);
  }
}

@media (max-width: 720px) {
  .igp-head img {
    width: var(--size-twentyeight);
  }
  .igp-head h1 {
    font-size: var(--rem-fiveteen);
  }

  .igp-head p {
    font-size: var(--rem-fourteen);
  }
  .igp-service h2 {
    font-size: var(--rem-threeteen);
  }
  .igp-service__plan {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 480px) {
  .igp-head article {
    margin-left: var(--size-nine);
  }
  .igp-head img {
    width: var(--size-twentyseven);
  }
  .igp-head h1 {
    font-size: var(--rem-fourteen);
  }
  .igp-head p {
    font-size: var(--rem-threeteen);
  }
  .igp-talk h2 {
    font-weight: 900;
    font-size: var(--rem-ten);
  }
  .igp-talk picture {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .igp-service img {
    width: var(--size-twentyseven);
  }
  .igp-service h2 {
    font-weight: 900;
    font-size: var(--rem-seven);
  }
  .igp-who {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: var(--size-ten);
    margin-right: var(--size-ten);
  }
  .igp-who header {
    margin-right: 0;
  }
  .igp-footer {
    font-size: var(--rem-one);
  }
}

@media (max-width: 375px) {
  .igp-head img {
    width: var(--size-twentysix);
  }
  .igp-head h1 {
    font-size: var(--rem-threeteen);
  }
  .igp-head p {
    font-size: var(--rem-nine);
  }
  .igp-talk h2 {
    font-weight: 900;
    font-size: var(--rem-six);
  }
  .igp-service img {
    width: var(--size-twentysix);
  }
  .igp-service h2 {
    font-weight: 900;
    font-size: var(--rem-five);
  }
  .igp-talk picture img {
    width: var(--size-twentyfour);
    padding: 0px 0px 20px 0px;
  }
  .igp-footer {
    font-size: var(--rem-one);
  }
}

@media (max-width: 320px) {
}
