:root {
  /* color */
  --cor-bg: #000000;
  --cor-dark: #0e0d0d;
  --cor-clear: #ffffff;
  --cor-secondary: #0449cd;
  --cor-col1: #cf6f00;
  --cor-col2: #ee4848;
  --cor-col3: #ce41c7;
  --cor-col4: #9545f0;
  --cor-col5: #6358ff;


  /* font */
  --font-primary: 'Roboto', serif;
  --font-secondary: 'Roboto Mono', serif;

  /* size */
  --size-one: 20%;
  --size-two: 40%;
  --size-three: 50%;
  --size-four: 80%;
  --size-five: 100%;
  --size-six: 0px;
  --size-seven: 10px;
  --size-eight: 15px;
  --size-nine: 20px;
  --size-ten: 40px;
  --size-eleven: 50px;
  --size-twelve: 60px;
  --size-thirteen: 90px;
  --size-fourteen: 100px;
  --size-fiveteen: 120px;
  --size-sixteen: 140px;
  --size-seventeen: 150px;
  --size-eightteen: 160px;
  --size-nineteen: 180px;
  --size-twenty: 200px;
  --size-twentyone: 220px;
  --size-twentytwo: 240px;
  --size-twentythree: 250px;
  --size-twentyfour: 270px;
  --size-twentyfive: 290px;
  --size-twentysix: 300px;
  --size-twentyseven: 400px;
  --size-twentyeight: 500px;
  --size-twentynine: 700px;
  --size-thirty: 1366px;

  /* rem */
  --rem-one: 0.5rem;
  --rem-two: 0.8rem;
  --rem-three: 0.9rem;
  --rem-four: 1.1rem;
  --rem-five: 1.2rem;
  --rem-six: 1.3rem;
  --rem-seven: 1.4rem;
  --rem-eight: 1.5rem;
  --rem-nine: 1.6rem;
  --rem-ten: 1.7rem;
  --rem-eleven: 1.8rem;
  --rem-twelve: 1.9rem;
  --rem-threeteen: 2rem;
  --rem-fourteen: 2.5rem;
  --rem-fiveteen: 3rem;
  --rem-sixteen: 4rem;
  --rem-seventeen: 5rem;
}